<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Sistema de Gestión</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="producto" routerLinkActive="active" class="nav-link">Mostrar Usuario</a>
        </li>
        <li class="nav-item">
          <a routerLink="registrar-producto" routerLinkActive="active" class="nav-link">Añadir Usuario</a>
        </li>
        <li class="nav-item">
          <a routerLink="personal" routerLinkActive="active" class="nav-link">Mostar Tramites</a>
        </li>
        <li class="nav-item">
          <a routerLink="registrar-personal" routerLinkActive="active" class="nav-link">Añadir Tramites</a>
        </li>
        <li class="nav-item">
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
